:host {
  display:block;
  padding: 20px 12px;
  background-color: black;
  height: 100vh;
  position: relative;
}

.small_logo {
  width: 150px;
  margin-left: 28px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent;
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item{
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--white-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  align-items: center;
  grid-gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  text-align: left;
  border-radius: 2px;


  &:hover,
  &:focus-visible {
    background: #2f4f4f;
    color: var(--primary-color);
  }
}


.main-menu-icon {
    width: 16px;
    height: 16px;
}

.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center
}

.to-subscribers-link {
  color: var(--primary-color);
  text-decoration: none;
}

.to-subscribers-icon {
  width: 18px;
  height: 18px;
}

.sidebar__footer {
  position: absolute;
  width: calc(100% - 20px);
  bottom: 0;
  left: 0;
  background: var(--light-color);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap: 12px;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.avatar-container {
  grid-column: 1 / 2;
}

.username-container {
  grid-column: 2 / 3;
}

.settings-container {
  grid-column: 3 / 4;
}

.username-text {
  font-weight: 700;
  color: var(--primary-color);
}

.avatar_side_bar_from_me {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

