:host {
  display: grid;
  grid-template-columns:  1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 20%;
}


.circle-image {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent;
  display: block;
  margin-left: 10%;
}

.password-input {
  position: relative;
}

.password-eye-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #FFFFFFBF;
  cursor: pointer;

}

.password-eye-btn.active {
  color: var(--primary-color);
}
