@import "fonts";

:root {
  --dark-color: #000000;
  --white-color: #FFFFFF;
  --primary-color: #AE7AFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}


body {
  font-family: "JetBrains Mono", sans-serif;
  background: var(--dark-color);
  color: var(--white-color);
}

.skill-tag {
  border-radius:1px 4px;
  border: 1px solid var(--white-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
  padding: 0 8px;
}

.btn {
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 350px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size:  14px;
  line-height: 20px;
}

