:root {
  --dark-color: #000000;
  --white-color: #FFFFFF;
  --primary-color: #AE7AFF;
}


body {
  background: var(--dark-color);
  color: var(--white-color);
}

.skill-tag {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
}

.btn {
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
